<!DOCTYPE html>

<html>
    <head>
        <!--Things not displayed on screen-->
        <title>Django Blog</title>
    </head>
    <body>
        <!--container tags..they do not really do anything yet, but organize your website into sections-->
        <header> <!--- Title of webpage-->
            <!--a or anchor tags link to something-->
            <h1><a href="/">Django Girls Blog</a></h1><!--heading tags that denote sections or titles of the webpage-->
        </header>

        <!-- article container tag... this tag is used to usually describe articles or posts-->
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">First Post</a></h2>
            <p>Heyyyyyyyyyyyyyyy there lets go first blog</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second Post</a></h2>
            <p>Heyyyyyyyyyyyyyyy there lets go second blog</p>

        </article>
    </body>
</html>